---
---

@import "{{ site.theme }}";

.wrapper {
    width: 100%;
}

section {
    width: 75%;
    float: left;
    padding-bottom: 50px;
    margin-left: 270px;
    max-width: 905px;
}

img {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    padding: 5px;
    margin: 10px 0 32px 0;
    border: 1px solid #ccc;
}
